 {include file='common/header' /}
<!--顶部通栏-->
<div class="position"><a href="{:url('Index/index')}">主页</a> > <a href="{:url('Lst/index',['id'=>$data.cateid])}">{$data.catename}</a> > </div>
<div class="container" style="width:1100px;position:relative;margin:0 auto;">
    <div class="overall">
        <div class="left">
            <div class="scrap">
                <h1>{$data.title}</h1>
                <div class="spread">
                    <span class="writor">发布时间：{$data.time|date='Y-m-d H:i:s',###}</span>
                    <span class="writor">编辑：{$data.author}</span>
                    <span class="writor">标签：<a href='/jiehun/z97712.html'>聚餐</a></span>
                    <span class="writor">热度：{$data.click}</span>
                </div>
            </div>
            <!--百度分享-->
            <div class="takeaway">
                <span class="btn arr-left"></span>
                <p class="jjxq">{$data.desc}</p>
                <span class="btn arr-right"></span>
            </div>
            <div class="substance">
                {$data.content}
            </div>
        </div>
        <!-- 热门点击、推荐阅读、搜索 -->
        {include file='common/right' /}
        <!--相关阅读 -->
        <div class="xgread">
            <div class="til">
                <h4>相关阅读</h4></div>
            <div class="lef">
                <!--相关阅读主题链接-->
            </div>
            <div class="rig">
                <ul>
                {foreach $relateRead as $v}
                    <li><a href="{:url('index/Article/index',['id'=>$v.id])}" target="_blank">{$v.title}</a></li>
                {/foreach}

                </ul>
            </div>
        </div>
        <!--频道推荐-->
        <div class="hotsnew" style="float:left;">
            <div class="til">
                <h4>频道推荐</h4></div>
            <ul>
                {foreach $tvCate as $v}
                <li>
                    <div class="tu"><a href="{:url('index/Article/index',['id'=>$v.id])}" target="_blank">
                    {if condition="$v.pic neq ''"}
                    <img src="{$v.pic}" alt="{$v.title}"/>
                    {else /}
                     <!-- 没有图片就显示默认图片 -->
                    <img src="__STATIC__/Index/images/57-1609201149550-L.jpg" alt="{$v.title}"/>
                    {/if}

                    </a></div>
                    <p><a href="{:url('index/Article/index',['id'=>$v.id])}">{$v.title}</a></p>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>
</div>
{include file='common/footer' /}